-
  const titleVal = pageTitle.replace(/'/ig,"\\'")

  let isHighlightShrink
  if (theme.highlight_shrink == 'none') isHighlightShrink = 'undefined'
  else if (page.highlight_shrink === true || page.highlight_shrink === false) isHighlightShrink = page.highlight_shrink
  else isHighlightShrink = theme.highlight_shrink

  const themeColorsKey = theme.theme_color && Object.keys(theme.theme_color)
  let themeColors = ''
  if (themeColorsKey)
    themeColors = themeColorsKey.map(key => {
      return `--theme-${key}: ${theme.theme_color[key]};`
    }).join('\n')
    themeColors = `:root{${themeColors}}`
-

script#config-diff.
  var GLOBAL_CONFIG_SITE = {
    title: '!{titleVal}',
    isPost: !{is_post()},
    isHome: !{is_home()},
    isHighlightShrink: !{isHighlightShrink},
    postUpdate: '!{full_date(page.updated)}'
  }

if theme.theme_color
  style#theme-color=themeColors
  !=theme_main_color_set()
